.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px 40px;
  position: sticky;
  top: 0;
  border-radius: 10px;
  left: 0;
  width: 155vh;
  margin-left: 10px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.navbar a.active-link {
  background-color: #f0eded;
  color: #444141;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #f0eded;
  color: #444141;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.3);
}
